
<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form class="login" [formGroup]="registerForm" >
 
				<mat-form-field >
 						<input   type="text" name="name"  matInput   formControlName="firstname" class="login__input" placeholder="First Name">
					 
					</mat-form-field >
	            
				  <mat-form-field >
 							<input   type="text" name="name"  matInput    formControlName="lastname" class="login__input" placeholder="Last Name">
						 
				</mat-form-field >  



				  <mat-form-field >
 					<input id="email"  type="email" name="email"  matInput    formControlName="email" class="login__input" placeholder="Email">
					<mat-error *ngIf="registerForm.controls['email'].hasError('email') ">
						Please Enter a valid Email
					  </mat-error>
					  <mat-error *ngIf="registerForm.controls['email'].hasError('required')" >
					   Email is <strong>Required</strong>
					  </mat-error>
 		    	</mat-form-field >  


			<mat-form-field >
					<input id="password" type="password" name="password" matInput formControlName="password" (change)="matchError()"  class="login__input" placeholder="Password">
					<br> 
					<mat-error *ngIf="registerForm.controls['password'].hasError('minlength') ">
						Please Enter a strong Password
					  </mat-error>
					  <mat-error *ngIf="registerForm.controls['password'].hasError('required')" >
						Password is <strong>Required</strong>
					  </mat-error>
			</mat-form-field>

			<mat-form-field >
				<input type="password"  matInput formControlName="confirmPassword"  (change)="matchError()">
				<label>Confirm Passwprd</label>
				<mat-error *ngIf="registerForm.controls['confirmPassword'].hasError('minLength') ">
				  Please enter a strong Password 
				</mat-error>
				<mat-error  *ngIf="registerForm.controls['confirmPassword'].hasError('required')">
					Password is <strong>required</strong>
				</mat-error>
				<mat-error  *ngIf="registerForm.controls['confirmPassword'].hasError('mismatch')">
			  Confirm Password is <strong>not match with password value</strong>
			  </mat-error>
			  </mat-form-field>

            <br> <br>
				<button style="background-color: rgb(62, 31, 91);" class="button login__submit"   (click)="submit()"
                 [disabled]="!registerForm.valid"  class="btn btn-primary ">
					<span class="button__text">  Register Now  </span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>			
				<h3 style="text-align:right; cursor: pointer;" (click)="goTologin()">Already have account</h3>	
			</form >

 				
			 
			
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>