<app-sidebar></app-sidebar>


<!-- <app-sidebar></app-sidebar>
<table>
    <tr>
        <th>vaccine Number</th>
        <th>vaccine Name</th>
        <th>vaccine doses</th>
        <th>vaccine date exp</th>

    </tr>
    <tr *ngFor="let obj of vaccines.Vaccine">
        <td>{{obj.vaccineid}}</td>
        <td>{{obj.vaccinename}}</td>
        <td>{{obj.vaccinedoses}}</td>
        <td>{{obj.vaccineexp}}</td>

    
    </tr>
  
</table> -->
<!-- Contenedor -->
<div *ngFor="let obj of vaccines.Vaccine" class="pricing-wrapper clearfix">
    <!-- Titulo -->

    <div  class="pricing-table">
        <h3 class="pricing-title">{{obj.vaccinename}}</h3>
        <!-- Lista de Caracteristicas / Propiedades -->
        <ul class="table-list">
            <li>10 GB <span>De almacenamiento</span></li>
            <li>vaccine doses <span>{{obj.vaccinedoses}}</span></li>
            <li>vaccineexp<span>{{obj.vaccineexp}}</span></li>
            <li>vaccineid <span>{{obj.vaccineid}}</span></li>
            
        </ul>
        <!-- Contratar / Comprar -->
        <div class="table-buy">
            <a href="#" class="pricing-action">EDIT</a>
            <a href="#" class="pricing-action">DELTE</a>

        </div>
    </div>
