<h2 mat-dialog-title>Add vaccine</h2>
<mat-dialog-content class="mat-typography">
   <form class="example-form" [formGroup]="createForm" >
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>vaccine Name</mat-label>
      <input type="text" matInput formControlName="vaccines_name">
      <mat-error *ngIf="createForm.controls['vaccines_name'].hasError('required')">
        vaccines_name is <strong>required</strong>
      </mat-error>
    </mat-form-field> 

<br>
<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>vaccine Doses</mat-label>
  <input type="text" matInput formControlName="vaccine_doses">
  <mat-error *ngIf="createForm.controls['vaccine_doses'].hasError('required')">
    vaccine_doses is <strong>required</strong>
  </mat-error>
</mat-form-field>
      <br>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>vaccine EXP</mat-label>
        <input type="text" matInput formControlName="vaccine_sexp">
        <mat-error *ngIf="createForm.controls['vaccine_sexp'].hasError('required')">
          vaccine_sexp is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <br>
    </form>
</mat-dialog-content>
<mat-dialog-actions >
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial  (click)="saveData()">Save</button>
</mat-dialog-actions>
